@import "../../../colors.scss";

.steps-list {
  margin-bottom: 1em;
}

.steps-list-item {
  margin-bottom: 1em;

  .icon {
    color: $black;
  }
  .title {
    color: $black;
    font-weight: bold;
  }

  .spacer {
    flex-grow: 1;
  }

  .expand {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 1em;
    cursor: pointer;
  }

  .type {
    background: $white;
    color: rgba($black, 0.8);
    padding: 0.125em 0.5em;
    border-radius: 0.25em;
    align-self: flex-end;
    font-weight: bold;
    font-variant: small-caps;
  }

  .draggable-panel {
    display: flex;
    align-items: center;
    border-left: 5px solid $blue;
    padding-left: 0.5em;
    margin: 0;
  }

  .drag-handle {
    margin-right: 1em;
    .icon {
      margin: 0;
      width: 6px;
    }
  }
}

.step-details {
  margin: 1em 1em;
}