@import "../../colors";
@import "../../mixin";

.panel {
  @include shadow-2;
  @include roundCorners;
  position: absolute;
  display: flex;
  flex-flow: column;

  min-width: 24em;
  max-width: 24em;
  min-height: 12em;

  background: $white;
  overflow: hidden;
}
