@import "../../colors";
@import "../../mixin";

.panel {
  @include shadow-2;
  display: flex;
  flex-flow: column;

  min-width: 20em;
  min-height: 12em;

  background: $white;
  border-radius: 0.5em;
  padding-top: 1em;
  overflow: hidden;
}
