$yellow: #f7d794;
$darkyellow: #f5cd79;

$orange: #f3a683;
$darkorange: #f19066;

$blue: #778beb;
$darkblue: #546de5;

$teal: #63cdda;
$darkteal: #3dc1d3;

$pink: #f8a5c2;
$darkpink: #f78fb3;

$rose: #cf6a87;
$darkrose: #c44569;

$peach: #ea8685;
$darkpeach: #e66767;

$purple: #786fa6;
$darkpurple: #574b90;

$gray: #596275;
$darkgray: #303952;

$white: #ecf0f1;
$darkwhite: #bdc3c7;

$black: #34495e;
$darkblack: #2c3e50;

$truewhite: #fff;
$trueblack: #000;

$colorToDark: (
  "yellow": $darkyellow,
  "orange": $darkorange,
  "blue": $darkblue,
  "teal": $darkteal,
  "pink": $darkpink,
  "rose": $darkrose,
  "peach": $darkpeach,
  "purple": $darkpurple,
  "gray": $darkgray,
  "white": $darkwhite,
  "black": $darkblack
);

$colorMap: (
  "yellow": $yellow,
  "orange": $orange,
  "blue": $blue,
  "teal": $teal,
  "pink": $pink,
  "rose": $rose,
  "peach": $peach,
  "purple": $purple,
  "gray": $gray,
  "white": $white,
  "black": $black
);