$blue: #778beb;
$darkblue: #546de5;

$pink: #f8a5c2;
$darkpink: #f78fb3;

$peach: #ea8685;
$darkpeach: #e66767;

$gray: #596275;
$darkgray: #303952;

$white: #ecf0f1;
$darkwhite: #bdc3c7;

$black: #34495e;
$darkblack: #2c3e50;