$yellow: #f1c40f;
$darkyellow: #f39c12;

$orange: #e67e22;
$darkorange: #d35400;

$blue: #3498db;
$darkblue: #2980b9;

$teal: #1abc9c;
$darkteal: #16a085;

$green: #2ecc71;
$darkgreen: #27ae60;

$pink: #f8a5c2;
$darkpink: #f78fb3;

$rose: #cf6a87;
$darkrose: #c44569;

$peach: #ea8685;
$darkpeach: #e66767;

$red: #e74c3c;
$darkred: #c0392b;

$purple: #9b59b6;
$darkpurple: #8e44ad;

$gray: #95a5a6;
$darkgray: #7f8c8d;

$white: #ecf0f1;
$darkwhite: #bdc3c7;

$black: #34495e;
$darkblack: #2c3e50;

$truewhite: #fff;
$trueblack: #000;

$colorToDark: (
  "yellow": $darkyellow,
  "orange": $darkorange,
  "blue": $darkblue,
  "teal": $darkteal,
  "pink": $darkpink,
  "rose": $darkrose,
  "peach": $darkpeach,
  "purple": $darkpurple,
  "gray": $darkgray,
  "white": $darkwhite,
  "black": $darkblack
);

$colorMap: (
  "yellow": $yellow,
  "orange": $orange,
  "blue": $blue,
  "teal": $teal,
  "pink": $pink,
  "rose": $rose,
  "peach": $peach,
  "purple": $purple,
  "gray": $gray,
  "white": $white,
  "black": $black
);