@import './colors';

@mixin buttonColor($color, $darkcolor) {
    background: $color;

        &:hover {
            background: rgba($darkcolor, 1);
        }

        &:focus,
        &:active {
            background: rgba($darkcolor, 1);     
        }
}

button.ui.button {
    background: $white;
    color: rgba($darkblack, 0.9);

    &:hover {
        background: rgba($darkwhite, 0.4);
        color: rgba($darkblack, 0.9);
    }

    &:focus,
    &:active {
        background: rgba($darkwhite, 0.7);
        color: rgba($darkblack, 0.9);
    }

    &.red {
        @include buttonColor($red, $darkred);
    }

    &.yellow {
        @include buttonColor($yellow, $darkyellow);
    }

    &.orange {
        @include buttonColor($orange, $darkorange);
    }

    &.blue {
        @include buttonColor($blue, $darkblue);
    }

    &.teal {
        @include buttonColor($teal, $darkteal);
    }

    &.green {
        @include buttonColor($green, $darkgreen);
    }

    &.pink {
        @include buttonColor($pink, $darkpink);
    }

    &.rose {
        @include buttonColor($rose, $darkrose);
    }

    &.peach {
        @include buttonColor($peach, $darkpeach);
    }

    &.purple {
        @include buttonColor($purple, $darkpurple);
    }

    &.grey {
        @include buttonColor($gray, $darkgray);
    }

    &.black {
        @include buttonColor($black, $darkblack);
    }


}