@import '../../colors.scss';

.poll-widget-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  
  &::before {
    display: inline-flex;
    content: '';
    width: 1.5em;
    height: 1.5em;
    border: 2px solid $darkblack;
    margin-right: 1em;
    
    border-radius: 0.25em;
  }

  &.checked::before {
    background: $black;
    box-shadow: 0px 0px 0px 2px inset $white;
  }

  &:hover:not(.checked)::before {
    background: $darkwhite;
    box-shadow: 0px 0px 0px 2px inset $white;
    transform: scale(1.1);
  }

  &.radio::before {
    border-radius: 1em;
  }
}